div#jp-movies{
    width: 100%;
    height: 100%;
    display: table;
}

div#jp-movies div.row-table{
    display: table-row;
    background-color: black;
}

div#jp-movies div.cell-table{
    display: table-cell;
}

div#jp-movies button{
    padding: 0;
    border: 0;
}