div#jp-movies label,
div#jp-movies h6,
div#jp-movies h1 {
    color: white;
}
div#jp-movies{
    height:100%;
    width: 1280px;
    margin: 0 auto;
    background-color: black;
    position: relative;
    overflow: auto;
}

div#jp-movies div.cell-table{
    position: absolute;
    width: 254px;
    height: 356px;
    padding: 20px;
    /*margin-left: -107px;*/
    /*margin-top: -159px;*/
}

div#jp-movies div.cell-table button{
    padding: 0;
    border: 0;
}