button#jp-movies-add,
button#movie-action,
button#movie-remove{
    position: absolute;
    bottom: 0;
}

button#jp-movies-add {
    right: 40px;
}

button#movie-action {
    left: 275px;

}

button#movie-remove{
    left: calc(50% + 107px);
    margin-left: -35px;
    width: 70px;
}


div#jp-movies-edit {
    height: 100%;
    max-height: 100% !important;
}

div#jp-movies-edit > div.col-md-4 {
    max-height: 100%;
    overflow: auto;
}

div#jp-movies-edit > div.col-md-8 {
    min-height: 440px;
}

div#movie-detail{
    display: flex;

}

div#movie-detail img.movie-img{
    width: 214px;
}

div#movie-detail ul{
    flex: 1;
}

div#movie-detail img.movie-img,
div#movie-detail ul {
    display: inline-block;
}

div#movie-detail span.tag {
    font-weight: bold;
}



ul {
    list-style-type: none;
}
ul#jp-movies-list *{
    text-align: left;
}

ul#jp-movies-list button.list {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

ul#jp-movies-list button.error{
    color: #ff0000;
    font-weight: bolder;
}

.jqDropZone {
    background: lightgrey;
    width: 214px;
    height: 317px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}

.jqDropZone.in {
    width: 214px;
    height: 317px;
    line-height: 200px;
    font-size: larger;
}

.jqDropZone.hover {
    background: lawngreen;
}

.jqDropZone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}