div#jp-player{
    background-color: black;
    height: 100%;
}
div#jp-player h6,
div#jp-player h1 {
    color: white;
}

input#video-controls{
    width: 0;
    height: 0;
    position: absolute;
    top:0;
    left: 0;
    background-color: black;
}